@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Athlete Management System</h1>
    <p class="lead">The athlete management system provides a web application that stores data for student-athletes, and their contact information associated with the school. This
    data can be edited, and deleted by staff.</p>
    <p><a href="http://www.georgiancollege.ca/student-life/athletics/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>